doctype html 
html 
  head 
    title Naruto 
    block script 
    block style 
  body
    nav#navbar 
        ul
            div#logo
               img(src="/static/img/logo.jpeg")
               | M'SDA
            li #[a(href="/") home] 
            li #[a(href="/about") about] 
            li #[a(href="/contact") contact] 
            li #[a(href="/") services]  
    block content 
    footer#footer 
        | copy right©️  
        