extends base.pug



block style 
   style 
      include ../static/style.css

block content 


    section#introsection 
      | 

    section#mission
      h2 kages
      div.card 
         h4 The Kazekage
         div.card-box
            div.card-img
               img(src="/static/img/1.jpg")
            div.card-cont
               p The Kazekage is the Kage of Sunagakure, a title bestowed on the village's leader.
      div.card 
         h4 The Mizukage
         div.card-box
            div.card-img
               img(src="/static/img/2.jpg")
            div.card-cont
               p The Mizukage is the Kage of Kirigakure, a title bestowed on the village's leader.
      div.card 
         h4 The Raikage
         div.card-box
            div.card-img
               img(src="/static/img/3.jpg")
            div.card-cont
               p The Raikage is the Kage of Kumogakure, a title bestowed on the village's leader.

    div.a
      h2 shinodi
    section#section 
      div#sponsours
         img(src="/static/img/a.jpg", alt="sponsor img", class="spimg")
         img(src="/static/img/b.jpg", alt="sponsor img", class="spimg")
         img(src="/static/img/c.jpg", alt="sponsor img", class="spimg")
         img(src="/static/img/d.jpg", alt="sponsor img", class="spimg")

            